In [1]:
import matplotlib.pyplot as plt
import numpy as np
import helpers as h
import pandas as pd
from collections import Counter

pygame 2.1.2 (SDL 2.0.16, Python 3.7.11)
Hello from the pygame community. https://www.pygame.org/contribute.html

# Get the data frames

In [2]:
path = "/home/javonne/Uni/Orbital-Mechanics-game-with-AI/build/agents/1_star_1_planet/"

filepath_data_rl = f"/{path}/rl1/data_rlearn.csv"
filepath_data_neat = f"/{path}neat1/data_neat.csv"


df_rl = pd.read_csv(filepath_data_rl, sep=',')
df_neat = pd.read_csv(filepath_data_neat, sep=',')


# https://stackoverflow.com/questions/55652574/how-to-solve-keyerror-unone-of-index-dtype-object-are-in-the-colum
df_rl.columns = df_rl.columns.str.replace(' ', '')
df_neat.columns = df_neat.columns.str.replace(' ', '')

# find the averages of the reward collumn

In [3]:
np.mean(df_rl[['reward']]), np.mean(df_neat[['reward']])

(reward    61.252
 dtype: float64,
 reward    1.144
 dtype: float64)

# Find success %

In [4]:
Counter(df_neat["wassuccesful"])

Counter({0: 686, 1: 314})

In [5]:
Counter(df_rl["wassuccesful"])[1] / 1000

0.376

In [6]:
Counter(df_neat["wassuccesful"])[1] / 1000

0.314

In [7]:
df_neat.describe()

       wassuccesful       reward  actualsteps  targetsteps  runscompleted
count   1000.000000  1000.000000   1000.00000       1000.0    1000.000000
mean       0.314000     1.144000    810.27900       2300.0     500.500000
std        0.464349   266.853619   1012.39896          0.0     288.819436
min        0.000000  -276.000000     18.00000       2300.0       1.000000
25%        0.000000  -272.000000     79.00000       2300.0     250.750000
50%        0.000000  -108.000000    141.00000       2300.0     500.500000
75%        1.000000   378.000000   2301.00000       2300.0     750.250000
max        1.000000   378.000000   2301.00000       2300.0    1000.000000

In [8]:
df_rl.describe()

       wassuccesful       reward  actualsteps  targetsteps  runscompleted
count   1000.000000  1000.000000  1000.000000       1000.0    1000.000000
mean       0.376000    61.252000   942.650000       2300.0     500.500000
std        0.484622   252.828928  1057.633978          0.0     288.819436
min        0.000000  -276.000000     2.000000       2300.0       1.000000
25%        0.000000  -116.000000    79.000000       2300.0     250.750000
50%        0.000000   -64.000000   169.000000       2300.0     500.500000
75%        1.000000   378.000000  2301.000000       2300.0     750.250000
max        1.000000   378.000000  2301.000000       2300.0    1000.000000